<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="container py-3 my-3 row">
  <h1>Вот что я умею</h1>
  <img src={% static 'img/leto.jpeg' %} width="1115" height="400" class="d-inline-block align-top" alt="">
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>
       Не позволяй душе лениться, <br>
       чтоб воду в ступе не толочь,<br>
       душа обязана трудиться <br>
       и день и ночь, и день и ночь
    </p>
  </article>
</div>
{% endblock %} 